@use 'scss-constants' as constants;
@use 'scss-grid' as grid;
@use 'sass:math';

* {
    box-sizing: border-box;
}

body {
    background-color: constants.$bg;
    width: 100%;
}

.header {
    position: relative;

    .menu-toggle {
        display: none;
    }

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: grid.$header-padding grid.$margin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        img {
            height: auto;
        }
    }

    &__nav {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    &__menu {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    &__item {
        margin-right: 32px;
    }

    &__link {
        text-decoration: none;
        color: constants.$gray-0;
    }

    &__btn {
        padding: 13px 32px;
        background: constants.$accented-gradient;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }
}

.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    div {
        width: 30px;
        height: 3px;
        background: white;
        transition: all 0.3s;
    }
}

.nav {
    display: flex;
    gap: 20px;

    &.active {
        display: flex;
    }
}

.main {
    margin-top: 100vh;
    padding: grid.$margin;
    position: relative;

    .token-sale {
        color: constants.$gray-0;
        padding: 60px 20px;
        text-align: center;

        &__container {
            max-width: 500px;
            margin: 0 auto 100px auto;
        }

        h5 {
            color: constants.$primary-100;
            margin-bottom: 4px;
        }

        h2 {
            margin-bottom: 24px;
        }

        &__blocks {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
        }

        &__block {
            height: 330px;
            border-radius: 25px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 40px;
            color: white;

            img {
                width: 80px;
                height: 80px;
                margin-bottom: 24px;
            }

            h3 {
                margin-bottom: 16px;
            }

            &:nth-child(odd) {
                background: radial-gradient(60.52% 85.11% at 9.86% -26.12%, rgba(62, 238, 227, 0.5) 0%, rgba(72, 205, 255, 0) 100%),
                    radial-gradient(65.97% 92.77% at 113.3% 120.61%, rgba(223, 29, 255, 0.35) 0%, rgba(62, 69, 238, 0) 100%),
                    linear-gradient(97.94deg, rgba(41, 46, 75, 0.225) 0%, rgba(37, 40, 58, 0.105) 100%, rgba(41, 46, 75, 0.105) 100%);
            }

            &:nth-child(even) {
                background: radial-gradient(38.19% 46.62% at 0% 105.61%, rgba(62, 238, 227, 0.5) 0%, rgba(72, 205, 255, 0) 100%),
                    radial-gradient(30.88% 36.01% at 103.42% -8.18%, rgba(223, 29, 255, 0.35) 0%, rgba(62, 69, 238, 0) 100%),
                    linear-gradient(97.94deg, rgba(41, 46, 75, 0.225) 0%, rgba(37, 40, 58, 0.105) 100%, rgba(41, 46, 75, 0.105) 100%);
            }
        }
    }
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        justify-content: center;
        align-items: center;
        gap: 20px;
        transition: all 0.3s ease-in-out;
    }

    .nav.active {
        display: flex;
    }

    .header {
        width: 100%;
        display: flex;
        height: 100vh;
        padding: 30px 15px;
        flex-direction: column;
        overflow: hidden;

        &__nav {
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100vh;
            background: #0B0B0F;
            transition: right 0.3s ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 195, 255, 0.3) 0%, #FF29C3 100%);
                filter: blur(100px);
                opacity: 0.4;
                z-index: -1;
            }
        }

        &__nav.active {
            display: flex;
            right: 0;
            padding: 90px 50px;
            align-items: flex-start;
            justify-content: flex-start;
            z-index: 49;

            ul {
                display: flex;
                flex-direction: column;
                gap: 32px;


                li {
                    list-style: none;
                    padding-left: 32px;


                    a {
                        text-decoration: none;
                        color: white;
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
            }
        }

        &__card {
            display: flex;
            justify-content: space-evenly;
            color: constants.$gray-0;
            width: 100%;
            align-items: center;

            .column {
                font-size: 13px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-sizing: border-box;
                width: 111.86px;
                height: 242px;
                background: radial-gradient(84.27% 69.09% at 100% 5.38%, rgba(223, 29, 255, 0.5) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(109.85% 100.31% at 8.46% 139.64%, rgba(62, 238, 227, 0.5) 49.21%, rgba(62, 69, 238, 0) 100%), linear-gradient(148.49deg, rgba(32, 33, 46, 0.8) 19.24%, rgba(37, 40, 58, 0.4) 100%, rgba(41, 46, 75, 0.28) 100%);
                border: 1px solid #FFFFFF;
                box-shadow: 0px 4px 38.4px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(50px);
                border-radius: 40px;
                transform: rotate(10deg);
                max-width: 100px;
                padding: 5px;

                h4,
                p {
                    transform: rotate(-10deg);
                }

                p {
                    margin-left: 3px;
                    font-weight: 400;
                }

                .image-frame {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: rotate(-10deg);
                    flex-direction: row-reverse;
                    margin-top: 16px;


                    &__wrapper {
                        margin-left: -10px;
                        width: 23px;
                        height: 40px;
                        border-radius: 20px;
                        transform: rotate(20deg);
                        position: relative;
                        display: flex;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: calc(100% + 2px);
                            height: 90%;
                            background: linear-gradient(180deg, #FFFFFF 0%, #606060 100%);
                            border-radius: 10px;
                            z-index: -1;
                            transform: rotate(-10deg);
                        }
                    }

                    &__wrapper:last-child {
                        margin-left: 0;
                    }

                    &__image {
                        height: 100%;
                        border-radius: 12px;
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: rotate(-10deg);
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                    }
                }

            }

            .column:nth-child(odd) {
                font-size: 11px;
                max-width: 95px;
                box-sizing: border-box;
                width: 97px;
                height: 191px;
                background: radial-gradient(59.26% 91.83% at 17.69% 100%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(120.77% 90.44% at 137.44% 90.44%, rgba(62, 238, 227, 0.5) 29.6%, rgba(62, 69, 238, 0) 100%), linear-gradient(354.69deg, rgba(41, 46, 75, 0.525) 8.5%, rgba(37, 40, 58, 0.245) 87.31%, rgba(41, 46, 75, 0.245) 87.31%);
                border: 1px solid #FFFFFF;
                box-shadow: 0px 4px 38.4px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(50px);
                border-radius: 40px;
                transform: rotate(10deg);

                .image-frame {
                    margin-top: 10px;
                }

            }
        }

        &__decor {
            position: absolute;
            padding: 10px;
            left: 90px;
            top: 595px;
            background: radial-gradient(189.96% 1058.34% at 110.22% -60.42%, rgba(72, 205, 255, 0) 0%, rgba(132, 112, 255, 0.7) 100%), radial-gradient(62.64% 89.41% at -5.37% -16.9%, rgba(61, 165, 245, 0.8) 0%, rgba(62, 69, 238, 0) 100%);
            filter: drop-shadow(0px 4px 70.5px rgba(180, 180, 180, 0.3));
            backdrop-filter: blur(50px);
            border-radius: 25px;
            transform: rotate(-3deg);
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 130%;
            color: #FFFFFF;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 25px;
                padding: 1px;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
                -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
                mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
                z-index: -1;
            }
        }

        &__bottom {
            width: 100%;
            color: constants.$gray-0;
            z-index: 2;

            h3 {
                font-size: 32px;
                font-weight: 900;
                margin-bottom: 16px;
            }

            h3:nth-child(odd) {
                color: #4DE1FF;
            }

            button {
                box-sizing: border-box;
                width: 100%;
                height: 62px;
                margin-top: 16px;
                background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
                border-radius: 10px;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 140%;
                text-align: center;
                color: constants.$gray-10;
                flex: none;
                order: 0;
                flex-grow: 0;
            }
        }

        .menu-toggle {
            display: block;
            cursor: pointer;
            position: fixed;
            color: constants.$gray-0;
            top: 42px;
            right: 20px;
            z-index: 50;
        }

        &__logo {
            position: absolute;
            display: block;
            height: 36px;
            left: 16px;
            top: 32px;
        }

        &__btn {
            display: none;
        }

        &__coin1 {
            position: absolute;
            width: 211.34px;
            height: 227.82px;
            left: -70px;
            top: -38.54px;
            filter: blur(1.5px);
            transform: rotate(-35.44deg);
        }

        &__coin2 {
            position: absolute;
            width: 177.23px;
            height: 185.02px;
            left: 263.51px;
            top: 637px;
            transform: rotate(30deg);
        }

        &__eter {
            position: absolute;
            width: 52.19px;
            height: 51.6px;
            left: 333px;
            top: 73.1px;
            transform: rotate(-30deg);
        }

        &__star1 {
            position: absolute;
            width: 27px;
            height: 27px;
            left: 240px;
            top: 55px;
            transform: rotate(-12.79deg);
        }

        &__star2 {
            position: absolute;
            width: 22px;
            height: 21px;
            left: 103px;
            top: 158px;
        }

        &__star3 {
            position: absolute;
            width: 20px;
            height: 19px;
            left: 252px;
            top: 435px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 692px;
            height: 433px;
            left: 100%;
            top: 200px;
            transform: translateX(-50%);
            background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, rgba(255, 41, 195, 0.8) 100%);
            filter: blur(175px);
            z-index: 0;
        }

        &::after {
            content: "";
            position: absolute;
            width: 290px;
            height: 268px;
            left: 0;
            top: 0;
            transform: translateX(-50%);
            background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, rgba(23, 74, 255, 0.8) 100%);
            filter: blur(100px);
            z-index: 0;
        }
    }

    .main {
        position: relative;
        margin-top: calc(100vh + 120px);
        overflow: hidden;
        padding: 0;

        section {
            padding: 0 16px;
        }

        .token-sale {
            text-align: center;
            padding: 40px 20px;

            &__container {
                margin: 0 auto 20px auto;
            }

            &__blocks {
                flex-direction: column;

                svg {
                    display: none;
                }
            }

            &__block {
                height: auto;
            }
        }

        .main__section--services {
            position: relative;
            padding: 40px 20px;
            color: white;
            text-align: center;

            .main__section__container {
                flex-direction: column;
                align-items: center;

                &.title {
                    margin: 0 auto;

                    h2 {
                        font-size: 28px;
                        font-weight: bold;
                    }

                    .text {
                        color: #aaa;
                        margin-bottom: 20px;
                    }
                }

                display: flex;
                justify-content: center;
                gap: 20px;
                flex-wrap: wrap;

                .left-column {
                    flex: 1;
                    max-width: 400px;

                    .sticky-content {
                        position: sticky;
                        top: 20px;
                        text-align: center;

                        #active-title {
                            font-size: 32px;
                            font-weight: 900;
                            line-height: 130%;
                        }

                        #active-text {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 140%;
                            color: #aaa;
                            margin-top: 10px;
                        }
                    }
                }

                .right-column {
                    flex: 1;
                    max-width: 400px;
                    max-height: 330px;
                    overflow: hidden;

                    .cards-wrapper {
                        flex: 1;
                        max-width: 100%;
                        max-height: 330px;
                        overflow-y: auto;
                        -webkit-overflow-scrolling: touch;
                        display: flex;
                        flex-direction: column;
                        min-height: 0;
                        direction: ltr;

                        .card {
                            margin-bottom: 20px;
                            background:
                                radial-gradient(65.97% 92.77% at -13.3% -20.61%, rgba(62, 238, 227, 0.5) 0%, rgba(62, 69, 238, 0) 100%),
                                radial-gradient(144.76% 629.53% at -6.71% 100%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%),
                                linear-gradient(277.94deg, rgba(41, 46, 75, 0.225) 0%, rgba(37, 40, 58, 0.105) 100%, rgba(41, 46, 75, 0.105) 100%);
                            box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
                            backdrop-filter: blur(50px);
                            border-radius: 25px;
                            padding: 15px;
                            font-size: 16px;
                            color: white;
                            text-align: center;
                            transition: transform 0.3s, box-shadow 0.3s;

                            &:hover {
                                transform: scale(1.05);
                                box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.2);
                            }
                        }

                        &::-webkit-scrollbar {
                            width: 8px;
                        }

                        &::-webkit-scrollbar-track {
                            background: transparent;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: linear-gradient(to bottom, #8a2be2, #ff00ff);
                            border-radius: 4px;
                        }
                    }
                }

            }
        }

        .strategy {
            position: relative;
            padding: 40px 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .star {
                position: absolute;
            }

            .star--1 {
                width: 38px;
                height: 38px;
                left: 50px;
                top: 650px;
            }

            .star--2 {
                width: 27px;
                height: 27px;
                left: 16px;
                top: 610px;
            }

            .left-column {
                max-width: 400px;

                .sticky-content {
                    position: sticky;
                    top: 20px;
                    text-align: center;
                    margin-bottom: 20px;

                    #title {
                        color: constants.$gray-0;
                        font-size: 32px;
                        font-weight: 900;
                        line-height: 130%;
                    }

                    #text {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 140%;
                        color: #aaa;
                        margin-top: 10px;
                    }
                }
            }

            &__title {
                margin-bottom: 10px;
                background:
                    radial-gradient(65.97% 92.77% at -13.3% -20.61%, rgba(62, 238, 227, 0.5) 0%, rgba(62, 69, 238, 0) 100%),
                    radial-gradient(144.76% 629.53% at -6.71% 100%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%),
                    linear-gradient(277.94deg, rgba(41, 46, 75, 0.225) 0%, rgba(37, 40, 58, 0.105) 100%, rgba(41, 46, 75, 0.105) 100%);
                box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(50px);
                border-radius: 25px;
                padding: 23px;
                font-size: 16px;
                font-weight: 600;
                line-height: 130%;
                color: white;
                text-align: center;
                transition: transform 0.3s, box-shadow 0.3s;
                margin-bottom: 20px;

            }

            &__subtitle {
                font-size: 16px;
                color: #b0a8d1;
                margin-bottom: 20px;
            }

            &__content {
                display: flex;
                align-items: center;
                width: 100%;
                max-width: 400px;
                position: relative;
            }

            &__slider {
                width: 100%;
                height: calc(3 * 80px + 2 * 15px) !important; // Висота для 3 плашок + відступи між ними
                flex: 1;

                .swiper {
                    width: 100%;
                    height: 100%;
                }

                .swiper-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start; // Вирівнюємо слайди зверху
                }

                .swiper-slide {
                    margin-bottom: 20px;
                    background:
                        radial-gradient(65.97% 92.77% at -13.3% -20.61%, rgba(62, 238, 227, 0.5) 0%, rgba(62, 69, 238, 0) 100%),
                        radial-gradient(144.76% 629.53% at -6.71% 100%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%),
                        linear-gradient(277.94deg, rgba(41, 46, 75, 0.225) 0%, rgba(37, 40, 58, 0.105) 100%, rgba(41, 46, 75, 0.105) 100%);
                    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
                    backdrop-filter: blur(50px);
                    border-radius: 25px;
                    padding: 15px;
                    font-size: 16px;
                    color: white;
                    text-align: center;
                    transition: transform 0.3s, box-shadow 0.3s;
                    transform: scale(0.9) !important;


                    // &:not(.swiper-slide-active) {
                    //     opacity: 0.5;
                    //     transform: scale(0.9);
                    // }
                }

                .empty-slide {
                    opacity: 0;
                    pointer-events: none;
                    height: 0;
                    margin: 0;
                    padding: 0;
                }

                .swiper-slide-active {
                    border: 2px solid #8a5cf0;
                }
            }

            &__pagination {
                width: 4px;
                height: 100%;
                background: rgba(255, 255, 255, 0.2);
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 2px;
                overflow: hidden;

                &-bar {
                    width: 100%;
                    height: calc(100% / 5 * 3); // Пропорційно всім слайдам
                    background: #8a5cf0;
                    border-radius: 2px;
                    transition: transform 0.3s ease;
                }
            }
        }







        &__services {
            padding: 20px;

            .services-wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
            }

            .service-card {
                background: linear-gradient(to bottom, #5b2076, #16233b);
                border-radius: 20px;
                padding: 20px;
                color: white;
                width: 300px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

                h3 {
                    font-weight: bold;
                    font-size: 20px; // default for others
                }

                .subtitle {
                    font-size: 16px;
                    opacity: 0.7;
                    margin: 10px 0;
                }

                .text {
                    font-size: 14px; // default for others
                    line-height: 1.4;
                }

                hr {
                    border: none;
                    border-top: 1px solid rgba(255, 255, 255, 0.3);
                    margin: 10px 0;
                }

                &.first-card {
                    h3 {
                        font-size: 24px;
                    }

                    .text {
                        font-size: 16px;
                    }
                }
            }
        }

        .team-service-slider {
            background: #0d0d0d;
            padding: 60px 20px;
            color: white;
            text-align: center;

            h5 {
                color: #B982FF;
                font-size: 20px;
                font-weight: 600;
            }

            h2 {
                font-size: 32px;
                font-weight: 900;
                margin-bottom: 24px;
            }

            p {
                font-size: 16px;
                opacity: 0.8;
            }

            .swiper {
                position: relative;
                width: 100%;
                max-width: 1100px;
                margin: auto;
            }

            .swiper-slide {
                display: flex;
                justify-content: center;
                padding: 30px 0;
            }

            .slide-content {
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 100%;
                max-width: 800px;

                .team-card,
                .service-card {
                    background: linear-gradient(to bottom, #5b2076, #16233b);
                    padding: 20px;
                    border-radius: 15px;
                    text-align: start;
                }

                .team-card {


                    .team-member {
                        margin-top: 20px;

                        img {
                            border-radius: 10px;
                            width: 100%;
                        }

                        .team-info {
                            margin-top: 10px;

                            h4 {
                                font-size: 20px;
                                color: #d58aff;
                                margin-bottom: 16px;
                            }

                            p {
                                font-size: 20px;
                                font-weight: bold;
                                margin-bottom: 16px;
                            }

                            span {
                                font-size: 16px;
                                opacity: 0.7;
                            }
                        }
                    }
                }

                .service-card {
                    h4 {
                        font-size: 24px;
                        font-weight: 600;
                        margin-bottom: 12px;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 12px;
                    }

                    .rating {
                        display: flex;
                        ;
                        flex-direction: row-reverse;
                        justify-content: center;
                        align-items: center;
                        padding: 11px 16px;
                        gap: 4px;
                        isolation: isolate;
                        width: 104px;
                        height: 40px;
                        position: relative;
                        border-radius: 10px;
                        color: #B982FF;
                        background: radial-gradient(111.14% 111.14% at 8.37% 0%,
                                rgba(255, 255, 255, 0.36) 0%,
                                rgba(255, 255, 255, 0) 100%);
                        backdrop-filter: blur(10px);
                        box-shadow:
                            0 0 10px rgba(255, 255, 255, 0.1),
                            inset 0 0 10px rgba(255, 255, 255, 0.1);
                    }

                    // .rating input {
                    //     display: none;
                    // }
                    // .rating label {
                    //     font-size: 1rem;
                    //     color: #B982FF;
                    //     cursor: pointer;
                    // }
                    // .rating input:checked ~ label,
                    // .rating label:hover,
                    // .rating label:hover ~ label {
                    //     color: #B982FF;
                    //     font-weight: bold;
                    // }
                    &:before {
                        content: "";
                        position: absolute;
                        width: 80%;
                        height: 50%;
                        top: 6px;
                        left: 50%;
                        transform: translateX(-50%);
                        background: radial-gradient(74.11% 74.1% at 50% 0%,
                                rgba(255, 255, 255, 0.2) 0%,
                                rgba(255, 255, 255, 0) 100%);
                        filter: blur(6px);
                        border-radius: 10px;
                    }

                    .rating-stars {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 3px;
                        z-index: 1;
                    }

                    .rating-stars i {
                        font-size: 14px;
                        color: #B982FF;
                    }

                    .divider {
                        width: 100%;
                        height: 1px;
                        background: rgba(255, 255, 255, 0.2);
                        border: none;
                        margin: 10px 0;
                    }


                    .description {
                        font-size: 14px;
                        opacity: 0.8;
                        line-height: 140%;
                    }
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                position: absolute;
                bottom: var(--swiper-pagination-bottom, 5px);
                top: var(--swiper-pagination-top, auto);
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                &::after {
                    font-size: 10px;
                    color: white;
                }
            }

            .swiper-button-prev {
                left: calc(50% - 40px);
            }

            .swiper-button-next {
                right: calc(50% - 40px);
            }

            .swiper-pagination-bullet {
                background: #B4B4B4;

                &.swiper-pagination-bullet-active {
                    transform: scale(1.5);
                    background: linear-gradient(143.13deg, #933FFD 21.43%, #19C5FE 110.71%);
                }
            }
        }

        .accordion-section {
            max-width: 100%;
            margin: auto;
            padding: 60px 0 !important;
            color: white;
            text-align: center;

            h5 {
                color: #B982FF;
                font-size: 20px;
                font-weight: 600;
            }

            h2 {
                font-size: 32px;
                font-weight: 900;
                margin-bottom: 24px;
            }

            p {
                font-size: 16px;
                opacity: 0.8;
                margin-bottom: 40px;
                padding: 0 15px;
            }


            .module {
                text-align: start;
                margin-bottom: 20px;
                overflow: hidden;
                background: linear-gradient(93.45deg, rgba(223, 29, 255, 0.2) 17.59%, rgba(155, 20, 177, 0.170746) 27.35%, rgba(124, 16, 141, 0.157118) 31.9%, rgba(69, 9, 79, 0.13368) 39.72%, rgba(0, 0, 0, 0.1038) 49.69%, rgba(9, 24, 30, 0.0914059) 56.77%, rgba(21, 60, 74, 0.0734936) 67.02%, rgba(72, 205, 255, 0) 92.93%), linear-gradient(180deg, rgba(41, 46, 75, 0.375) 0%, rgba(48, 58, 120, 0.5) 100%);
                backdrop-filter: blur(50px);
                padding: 15px;


                .module-header {
                    width: 100%;
                    background: transparent;
                    color: white;
                    padding: 15px;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .module-content {
                    display: none;
                    padding: 10px;
                    background: transparent;
                    color: constants.$gray-0;

                    p {
                        padding: 5px;
                    }
                }

                p {
                    color: constants.$gray-0;
                    padding: 0 15px;
                    margin-bottom: 0;
                }

                .nested-header {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin: 12px;
                    padding: 6px 16px;
                    gap: 5px;
                    height: 29px;
                    background: radial-gradient(50.94% 62.92% at 102.22% 50%, rgba(223, 29, 255, 0.5) 0%, rgba(72, 205, 255, 0) 100%),
                        radial-gradient(115.05% 144.85% at -5.37% -16.9%, rgba(61, 165, 245, 0.5) 0%, rgba(62, 69, 238, 0) 100%),
                        linear-gradient(97.94deg, rgba(41, 46, 75, 0.375) 0%, rgba(41, 46, 75, 0.175) 100%, rgba(48, 58, 120, 0.5) 100%);
                    border-radius: 28px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 140%;
                    color: #FFFFFF;
                    position: relative;
                }

                .nested-header .vector,
                .module-header .vector {
                    display: inline-block;
                    transform: rotate(0deg);
                    transition: transform 0.3s ease;
                }

                .nested-header.active .vector,
                .module-header.active .vector {
                    transform: rotate(180deg);
                }

                .nested-accordion {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    order: 1;
                }

                .nested-content {
                    order: 2;
                    color: constants.$gray-0;
                    display: none;
                    position: relative;
                    padding: 0 15px 50px 15px;
                    font-size: 14;
                    font-weight: 400;
                    line-height: 140%;
                    margin-top: 5px;
                    max-height: 300px;
                    overflow-y: auto;
                    z-index: 1;
                }

                .close-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 26px;
                    height: 26px;
                    background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
                    border-radius: 37px;
                    border: none;
                    cursor: pointer;
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 3;
                }

                .close-button:hover {
                    background-color: #d1e0f1;
                }
            }
        }

        .accordion-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: constants.$gray-0;

            .accordion-item {
                background: radial-gradient(86.06% 112.86% at 86.86% 110.24%, rgba(223, 29, 255, 0.4) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(47.58% 75.96% at -5.37% -16.9%, rgba(61, 165, 245, 0.5) 0%, rgba(62, 238, 227, 0.1) 58.6%, rgba(62, 69, 238, 0) 94.1%), linear-gradient(97.94deg, rgba(41, 46, 75, 0.375) 0%, rgba(41, 46, 75, 0.175) 100%, rgba(48, 58, 120, 0.5) 100%);
                backdrop-filter: blur(52.4px);
                border-radius: 15px;
                overflow: hidden;
            }

            .accordion-header {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 10px;
                cursor: pointer;
                color: white;
                border-radius: 25px;

                span {
                    margin-left: 12px;
                }
            }

            .image-frame {
                &__wrapper {
                    width: 23px;
                    height: 40px;
                    border-radius: 13px;
                    transform: rotate(10deg);
                    position: relative;
                    display: flex;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: calc(100% + 10px);
                        height: 100%;
                        background: linear-gradient(180deg, #FFFFFF 0%, #606060 100%);
                        border-radius: 10px;
                        transform: rotate(10deg);
                        z-index: -1;
                    }
                }

                &__image {
                    border-radius: 12px;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: rotate(-10deg);
                    width: 23px;
                    height: 40px;

                }
            }

            .accordion-content {
                display: none;
                padding: 10px;
                color: white;

                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 24px;
                    line-height: 130%;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 24px;
                    line-height: 146%;
                }

                footer {
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 24px;
                    line-height: 140%;
                }
            }

            .vector {
                position: absolute;
                right: 24px;
                font-size: 16px;
                color: white;
                transition: transform 0.3s ease;
            }

            .accordion-header {
                color: #909090;
            }

            .accordion-item.active .accordion-header {
                color: #B982FF;
            }

            .accordion-item.active .vector {
                transform: rotate(180deg);
            }

            .accordion-item.active .vector {
                transform: rotate(180deg);
            }

        }

        .plans-service-slider {
            background: #0d0d0d;
            padding: 60px 20px;
            color: white;
            text-align: center;

            h5 {
                color: #B982FF;
                font-size: 20px;
                font-weight: 600;
            }

            h2 {
                font-size: 32px;
                font-weight: 900;
                margin-bottom: 24px;
            }

            p {
                font-size: 16px;
                opacity: 0.8;
            }

            .swiper {
                position: relative;
                width: 100%;
                max-width: 1100px;
                margin: auto;
            }

            .swiper-slide {
                display: flex;
                justify-content: center;
                padding: 30px 0;
            }

            .slide-content {
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 100%;
                max-width: 800px;

                .column {
                    background: "#555";
                    border-radius: 24px;
                    padding: 45px 25px;
                    max-width: 390px;
                    text-align: left;
                    color: white;
                    background: radial-gradient(38.19% 46.62% at 0% 105.61%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(30.88% 36.01% at 103.42% -8.18%, rgba(62, 238, 227, 0.5) 0%, rgba(62, 69, 238, 0) 100%), linear-gradient(97.94deg, rgba(41, 46, 75, 0.225) 0%, rgba(37, 40, 58, 0.105) 100%, rgba(41, 46, 75, 0.105) 100%);
                    border: 1px solid #B5B5B5;
                    backdrop-filter: blur(50px);
                    border-radius: 25px;

                    h5 {
                        color: #F3F3F6;
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 26.4px;
                        letter-spacing: 0%;

                    }

                    .headline3 {
                        display: flex;
                        color: #F3F3F6;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        letter-spacing: 0%;
                    }

                    .price {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 12px 0;
                        border-bottom: 1px solid #ccc;
                        margin-bottom: 12px;



                        .col {
                            display: flex;
                            flex-direction: column;
                            gap: 6px;

                            &:nth-child(even) {
                                flex: 0 0 45%;
                            }

                            &:nth-child(odd) {}

                            .headline3 {
                                color: constants.$gray-80;
                            }

                            .pr1 {
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 34.8px;
                                letter-spacing: 0%;
                                color: constants.$primary-100;

                                span {
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: constants.$primary-100;
                                }
                            }

                            .tr1 {
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 14.4px;
                                letter-spacing: 0%;
                                text-decoration: line-through;
                                color: #464648;

                                span {
                                    text-decoration: none;
                                }
                            }

                            .row {
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                flex-direction: row;
                                margin-top: 10px;

                                .group {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 4px;
                                }

                                .pr2 {
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 24px;
                                    letter-spacing: 0%;
                                    color: constants.$primary-100;

                                    span {
                                        font-size: 14px;
                                        font-weight: 400;
                                        color: #666;
                                    }
                                }

                                .tr2 {
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 14.4px;
                                    letter-spacing: 0%;
                                    text-decoration: line-through;
                                    color: #464648;

                                    span {
                                        text-decoration: none;
                                    }
                                }

                            }
                        }



                        .cost {
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 18px;
                            letter-spacing: 0%;
                            background: #FFD700;
                            color: #070707;
                            width: 30;
                            height: 18;
                            border-radius: 12px;
                            gap: 10px;
                            padding-right: 4px;
                            padding-left: 4px;

                        }
                    }

                    .list {
                        list-style-type: none;
                        padding: 0;
                        margin-bottom: 16px;

                        li {
                            font-size: 14px;
                            margin-bottom: 6px;
                            position: relative;
                            padding-left: 16px;

                            &:before {
                                content: "•";
                                color: #F3F3F6;
                                font-size: 18px;
                                font-weight: bold;
                                position: absolute;
                                left: 0;
                                top: 0;
                            }
                        }
                    }

                    button {
                        width: 100%;
                        background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 12px 16px;
                        border: 1px solid black;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: background 0.3s;
                    }
                }

            }

            .swiper-button-prev,
            .swiper-button-next {
                position: absolute;
                bottom: var(--swiper-pagination-bottom, 5px);
                top: var(--swiper-pagination-top, auto);
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                &::after {
                    font-size: 10px;
                    color: white;
                }
            }

            .swiper-button-prev {
                left: calc(50% - 40px);
            }

            .swiper-button-next {
                right: calc(50% - 40px);
            }

            .swiper-pagination-bullet {
                background: #B4B4B4;

                &.swiper-pagination-bullet-active {
                    transform: scale(1.5);
                    background: linear-gradient(143.13deg, #933FFD 21.43%, #19C5FE 110.71%);
                }
            }
        }

        .AboutUs {
            margin: 60px 20px;
            padding: 20px;
            text-align: start;
            max-width: 400px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            background: radial-gradient(53.39% 67.78% at 100% 106.39%, rgba(223, 29, 255, 0.5) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(62.64% 89.41% at -5.37% -16.9%, rgba(61, 165, 245, 0.5) 0%, rgba(62, 69, 238, 0) 100%), linear-gradient(97.94deg, rgba(41, 46, 75, 0.375) 0%, rgba(41, 46, 75, 0.175) 100%, rgba(48, 58, 120, 0.5) 100%);
            backdrop-filter: blur(50px);
            border-radius: 50px;
            color: constants.$gray-0;


            .card-image {
                width: 100%;
                border-radius: 15px;
                min-height: 300px;
                object-fit: contain;
            }

            .subtitle {
                color: #BB86FC;
                font-size: 18px;
                margin-bottom: 5px;
            }

            .title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .description {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                opacity: 0.8;
                margin-bottom: 30px;
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;
            }

            .btn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 6px 16px;
                margin: 0 7px;
                width: 148px;
                height: 29px;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 140%;
                background: radial-gradient(52.94% 407.78% at -6.99% 180.88%, rgba(223, 29, 255, 0.5) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(92.28% 334.94% at 111.03% 0%, rgba(61, 165, 245, 0.5) 0%, rgba(62, 69, 238, 0) 100%), linear-gradient(97.94deg, rgba(41, 46, 75, 0.375) 0%, rgba(41, 46, 75, 0.175) 100%, rgba(48, 58, 120, 0.5) 100%);
                border-radius: 28px;
                color: white;
                cursor: pointer;
                transition: 0.3s;
            }

            .btn:hover {
                background: linear-gradient(45deg, #8A2BE2, #6A5ACD);
            }
        }
    }

    .footer {
        position: relative;
        color: #fff;
        text-align: center;
        padding: 40px 20px;
        font-family: Arial, sans-serif;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            width: 463px;
            height: 375px;
            left: -200px;
            top: 309px;
            transform: rotate(-90deg);
            background: linear-gradient(180deg, #2C4982 0%, #2CD095 100%);
            filter: blur(200px);
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            width: 372.95px;
            height: 237.09px;
            left: -250px;
            top: 446.95px;
            transform: rotate(-90deg);
            background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #17FFE3 100%);
            filter: blur(100px);
            z-index: -1;
        }

        .footer-content {
            max-width: 500px;
            margin: auto;
        }

        .footer-logo {
            height: 36px;
            margin-bottom: 10px;
        }

        .footer-description {
            font-size: 14px;
            margin-bottom: 20px;
        }

        .footer-form {
            position: relative;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            .footer-input {
                width: 100%;
                padding: 16px 20px;
                border-radius: 10px;
                border: none;
                outline: none;
            }

            .footer-button {
                height: 100%;
                right: 20px;
                position: absolute;
                border: none;
                color: #495057;
                cursor: pointer;
                background: transparent;
            }
        }

        .telegram-button {
            background: radial-gradient(162.58% 589.06% at -28.26% 75.86%, rgba(223, 29, 255, 0.5) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(95.58% 184.55% at -5.37% -16.9%, rgba(61, 165, 245, 0.5) 0%, rgba(62, 69, 238, 0) 100%), linear-gradient(97.94deg, rgba(41, 46, 75, 0.375) 0%, rgba(41, 46, 75, 0.175) 100%, rgba(48, 58, 120, 0.5) 100%);
            border-radius: 28px;
            border: none;
            padding: 10px 20px;
            color: white;
            cursor: pointer;
            margin-bottom: 20px;
        }

        .footer-nav {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 30px;

            a {
                color: #F1F3F5;
                text-decoration: none;
                font-size: 14px;
                margin: 12px 0;

                &:hover {
                    color: white;
                }
            }
        }

        .footer-policy,
        .footer-copyright {
            font-size: 14px;
            line-height: 140%;
            font-weight: 600;
            color: #F1F3F5;
            margin: 23px 0;
        }
    }

}